<h1><%= @task.id %>の詳細ページ</h1>

<p><%= @task.content %></p>
<p><%= @task.status %></p>

<%= link_to "一覧に戻る", tasks_path %>
<%= link_to "このタスクを編集", edit_task_path(@task) %>
<%= link_to "このタスクを削除", @task, method: :delete, data: { confirm: '削除しますか？' } %>
<%= link_to "お気に入り一覧へ移動する", likes_user_path(current_user) %>
<%= render 'relationships/like', task: @task %>